*{
    padding: 0px; margin: 0px;
}
header{
    background-color: brown;
}
main{
    background-color: blueviolet;
    max-width: 60em;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
}
.button{
    background-color: rgb(82, 26, 134);
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    max-width: 70vw;
}
.button:hover{
    background-color: azure;
    cursor: pointer;
}
footer{
    background-color: black;
}
#reset{
    display: none;
}
i{
    background-color: brown;
    border-radius: 100%;
    margin: 10px;
    margin-bottom: 0px;
    
}
i:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.407);
    border-radius: 100%;
    color: beige;
}